<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="">
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="l  arge">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<app-explore-container name="Tab 1 page"></app-explore-container> -->


<ion-card *ngFor="let message of getMessages()">
<!-- {[message.text]}
<hr>
{[message.from]}
</div> -->

<ion-card-content *ngIf="message.imageUrl">
  <ion-img src="{{message.imageUrl}}"></ion-img>
</ion-card-content>

<ion-card-header>
  <ion-card-title>{{message.from}}</ion-card-title>
  <ion-card-subtitle>{{message.text}}</ion-card-subtitle>
  </ion-card-header>
  
</ion-card>
</ion-content>

<!-- git flow
 -->